.calculator{
    width: 300px;
    margin-inline: auto;
}
.input{
    width: 280px;
    border-radius: 4px 4px 0 0;
    background-color: #171717;
    color:white;
    padding: 10px;
    border: 0;
}
.button,.buttonOP, .buttonC{
    border: 0;
    width: 25%;
    background-color: rgb(235, 235, 235);
    height: 40px;
}
.button:hover{    
    background-color: rgb(161, 161, 161);
}
.buttonOP{
    background-color:rgb(96 165 250)
}
.buttonOP:hover{
    background-color:rgb(75, 130, 196)
}
.buttonC{
    background-color: rgb(59 130 246 );
    width: 100%;
}
.buttonC:hover{    
    background-color: rgb(35, 78, 148);
}